<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ content.title }}</title>
    {{> styles }}
</head>
<body>
{{> header }}
<main>
    <form action="/users" method="post">
        <label for="email">Adresa de E-mail:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="nume">Nume:</label><br>
        <input type="text" id="nume" name="nume">
        <button type="submit" formaction="/users/" formmethod="GET">Register</button>
        <button type="submit" formmethod="POST">Log in</button>
    </form>
    Welcome

    <h1>{{ content.heading }}</h1>
    <p>{{ content.content }}</p>
</main>
{{> footer }}
</body>
</html>
